# dependencies
node_modules/

# build output
dist/

# TypeScript cache
*.tsbuildinfo

# logs
*.log

# environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/